.size {
  width: 65%;
  padding-top: 15px;
  padding-bottom: 25px;
}

.displayFlex {
  display: flex;
  flex-direction: row;
}

.displayFlexReverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.displayFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentSize {
  flex: 0.80;
}

.imageContainer {
  flex: 0.20;
  display: flex;
  justify-content: center;
}

.imageSize {
  width: 45px;
  height: 60px;
  position: relative;
  margin-top: 10px;
}

.heading {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  padding-top: 0;
}

.subHeading {
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 768px) {
  .size {
    width: 100%;
  }
}


@media only screen and (max-width: 425px) {
  .displayFlex {
    display: flex;
    flex-direction: row;
  }

  .displayFlexReverse {
    flex-direction: row;
    text-align: left;
  }

  .size {
    width: 100%;
  }

  .contentSize {
    flex: 0.75;
  }

  .imageContainer{
    flex: 0.25;
    justify-content: flex-start;
  }

}